<a href="https://colab.research.google.com/github/sachingavande4599/Task-5-Exploratory-data-analysis-sport/blob/main/IPL_DATA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* **The Sparks Foundation**

**GRIP (Graduate Rotational Internship Program) March 2023**

# Project Name - Indian Premier League

**Project Type** - TASK-05 (Exploratory Data Analysis - Sports)

**Domain** : Data Science & Business Analytics

**Name** -Sachin Shivaji Gavande

[Dataset's Link](https://bit.ly/34SRn3b)

# **Problem Statement**

* Perform ‘Exploratory Data Analysis’ on dataset ‘Indian Premier League’

* As a sports analysts, find out the most successful teams, players and factors contributing win or loss of a team.

* Suggest teams or players a company should endorse for its products.

# ***Let's Begin !***

## ***1. Know Your Data***

### Import Libraries

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

### Dataset Loading

In [ ]:
# Load Dataset

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
Data = pd.read_csv("/content/drive/MyDrive/IPL CAPSTON/matches.csv")

matches_df = pd.DataFrame(Data)

print("Data has been successfully imported")

### Dataset First View

In [ ]:
# Dataset 1 First Look

In [ ]:
matches_df.head()

In [ ]:
# Load Dataset 2

In [ ]:
deliveries_df = pd.read_csv("/content/drive/MyDrive/IPL CAPSTON/deliveries.csv")

In [ ]:
# Dataset 2 First Look

In [ ]:
deliveries_df.head()

### Dataset Rows & Columns count

In [ ]:
#dataset 1 rows and columns

In [ ]:
matches_df.shape

In [ ]:
#dataset 2 rows and columns

In [ ]:
deliveries_df.shape

### Dataset Information

In [ ]:
# Dataset 1 Info

In [ ]:
matches_df.info()

In [ ]:
# Dataset 2 Info

In [ ]:
deliveries_df.info()

#### Duplicate Values

In [ ]:
# Dataset 1 duplicate values

In [ ]:
matches_df.duplicated()

In [ ]:
# Dataset 2 duplicate values

In [ ]:
deliveries_df.duplicated()

#### Missing Values/Null Values

In [ ]:
# Missing Values/Null Values Count of data set 1

In [ ]:
matches_df.isnull().sum()

In [ ]:
matches_df.isnull().sum().sum()

In [ ]:
# Missing Values/Null Values Count of data set 2

In [ ]:
deliveries_df.isnull().sum()

In [ ]:
deliveries_df.isnull().sum().sum()

In [ ]:
# Visualizing the missing values data set 1

In [ ]:
sns.heatmap(matches_df.isnull(), cbar=False, cmap='GnBu_r')

In [ ]:
# Visualizing the missing values data set 2

In [ ]:
plt.figure(figsize=(8,5))
sns.heatmap(deliveries_df.isnull(), cbar=False, cmap='viridis')

## ***2. Understanding Your Variables***

In [ ]:
# Dataset Columns

In [ ]:
deliveries_df.columns

In [ ]:
matches_df.columns

In [ ]:
# Deliveries Dataset Describe

In [ ]:
deliveries_df.describe(include='all')

In [ ]:
# Matches Dataset Describe

In [ ]:
matches_df.describe(include='all')

### Check Unique Values for each variable.

In [ ]:
# Check Unique Values for each variable.

In [ ]:
# For Deliveries Dataset

In [ ]:
for i in deliveries_df.columns.tolist():
  print("No. of unique values in ",i,"is",deliveries_df[i].nunique(),".")

In [ ]:
# For Matches Dataset

In [ ]:
for i in matches_df.columns.tolist():
  print("No. of unique values in ",i,"is",matches_df[i].nunique(),".")

## 3. ***Data Wrangling***

### Data Wrangling Code

In [ ]:
# Remove duplicates from Deliveries dataset.

In [ ]:
# Remove duplicates
deliveries_df = deliveries_df.drop_duplicates()

In [ ]:
# Deliveries Dataset Duplicate Value Count
len(deliveries_df[deliveries_df.duplicated()])

* Merging The Datasets

In [ ]:
season_data=matches_df[['id','season','winner']]
season_data.head()

In [ ]:
complete_data=deliveries_df.merge(season_data,how='inner',left_on='match_id',right_on='id')
complete_data.head()

In [ ]:
complete_data. columns

* Now Check For Number Of Matches Won by Team in Each Season

*

In [ ]:
wins_per_season = matches_df.groupby("season")["winner"].value_counts()
wins_per_season.head()

### Data Vizualization

In [ ]:
total_teams = list(set(matches_df['team1'].unique()) & set(matches_df['team2'].unique()))
print(total_teams)

In [ ]:
print(len(total_teams))

**chart 1**

In [ ]:
# Chart - 1 visualization code

In [ ]:


season_counts = matches_df['season'].value_counts().sort_index()
plt.figure(figsize=(16, 8))
plt.bar(season_counts.index, season_counts.values, color='purple')
plt.title("Number of Matches played in each IPL season", fontsize=20)
plt.xlabel("Season", fontsize=15)
plt.ylabel("Matches played", fontsize=15)
plt.show()

#### Chart - 2

In [ ]:
# Chart - 2 visualization code

In [ ]:


plt.figure(figsize=(18, 10))
sns.countplot(x='winner', data=matches_df, palette='cool')
plt.title("Numbers of matches won by each team", fontsize=20)
plt.xticks(rotation=50)
plt.xlabel("Teams", fontsize=15)
plt.ylabel("Number of wins", fontsize=15)
plt.show()

#### Chart - 3

In [ ]:
# Chart - 3 visualization code

In [ ]:
import plotly.express as px

fig = px.box(complete_data, x='batting_team', y='total_runs', color='batting_team',
title='Distribution of Runs by Batting Team',
labels={'batting_team': 'Batting Team', 'total_runs': 'Total Runs'},
width=800, height=600)

fig.update_traces(boxmean=True)
fig.update_layout(legend=dict(title=None))

fig.show()

# Chart-4

In [ ]:
# Chart - 4 visualization code

In [ ]:
# Set up the data
toss_win_match_win = matches_df[matches_df['toss_winner'] == matches_df['winner']]
slices = [len(toss_win_match_win), (len(matches_df) - len(toss_win_match_win))]
labels = ['Toss and Match Win', 'Toss Win but Match Lose']

# Set the color scheme
colors = ['#1abc9c', '#d35400']  # Teal and Orange
plt.figure(figsize = (6,6))

# Create the pie chart
plt.pie(slices, labels=labels, autopct='%1.1f%%', startangle=90, colors=colors, wedgeprops=dict(width=0.4))
plt.title('Toss and Match Win Percentage', fontsize=14, fontweight='bold')

# Show the plot
plt.show()

# Chart-5

* Calculate the number of tosses won by  the top 10 teams

In [ ]:
# Chart - 5 visualization code

In [ ]:

plt.subplots(figsize=(10, 7))
top_10 = matches_df['toss_winner'].value_counts().nlargest(10)
values = top_10.values
labels = top_10.index
colors = ['orange', 'yellowgreen', 'lightcoral', 'lightskyblue', 'pink', 'purple', 'red', 'green', 'blue', 'gray']
explode = [0.1] * len(labels) 
plt.pie(values, labels=labels, colors=colors, explode=explode, autopct='%1.1f%%', startangle=90)
plt.title("Maximum Toss Won by Top 10 Teams")
plt.show()

#### Chart - 6

In [ ]:
# Chart - 6 visualization code

In [ ]:
# Create the bar chart and change bar color to 'tab:red'
matches_df.winner.value_counts().plot(kind='bar', color='tab:red', figsize=(10, 7))

# Add a title and labels
plt.title('Number of Wins by Each Team - Overall', fontsize=20, fontweight='bold')
plt.xlabel('Teams', fontsize=14, fontweight='bold')
plt.ylabel('Count', fontsize=14, fontweight='bold')

# Show the plot
plt.show()

#### Chart - 7

In [ ]:
# Chart - 7 visualization code

In [ ]:


# Calculate the strike rate for each batsman
complete_data['strike_rate'] = (complete_data['batsman_runs'] / complete_data['ball']) * 100

# Get the highest strike rate and the corresponding batsman
highest_strike_rate = complete_data.groupby('batsman')['strike_rate'].mean().sort_values(ascending=False).iloc[0]
highest_strike_rate_batsman = complete_data.groupby('batsman')['strike_rate'].mean().sort_values(ascending=False).index[0]

# Print the result
print("The batsman with the highest strike rate in the IPL overall is", highest_strike_rate_batsman, "with a strike rate of", round(highest_strike_rate,2))

#### Chart - 8

In [ ]:
# Chart - 8 visualization code

In [ ]:


# Group the data by match and team and calculate the total runs scored by each team in a match
team_runs = complete_data.groupby(['match_id', 'batting_team'])['total_runs'].sum().reset_index()

# Plot the distribution of runs scored by each team using a boxplot
plt.figure(figsize=(20, 7))
sns.boxplot(x='batting_team', y='total_runs', data=team_runs, palette='husl')
plt.title('Distribution of Runs Scored by Each Team in a Match', fontsize=16, fontweight='bold')
plt.xlabel('Team', fontsize=12, fontweight='bold')
plt.ylabel('Runs Scored', fontsize=12, fontweight='bold')
plt.show()

#### Chart - 9

In [ ]:
# Chart - 9 visualization code

In [ ]:


# Count the number of matches won by each team
matches_won = complete_data['winner'].value_counts()

# Get the top 5 teams with the most matches won
top_5 = matches_won.head(5)

# Create a pie chart to visualize the top 5 teams
plt.figure(figsize=(8, 8))
plt.pie(top_5, labels=top_5.index, autopct='%1.1f%%')
plt.title('Top 5 Teams with the Most Matches Won', fontsize=16, fontweight='bold')
plt.show()

#### Chart - 10

In [ ]:
# Chart - 10 visualization code

In [ ]:
plt.figure(figsize=(16, 8))
sns.countplot(x='season', hue='toss_decision', data=matches_df, palette=['#008080', '#FF6347'])
plt.title('Number of Matches Won by Toss Result', fontsize=20)
plt.xlabel('Season', fontsize=15)
plt.ylabel('Count', fontsize=15)
plt.xticks(fontsize=12)
plt.yticks(fontsize=12)
plt.legend(fontsize=12, title='Toss Decision', title_fontsize=14)
plt.show()

#### Chart - 11

In [ ]:
# Chart - 11 visualization code

In [ ]:
# Group the data by batsman and sum the total runs scored by each batsman
batsman_runs = deliveries_df.groupby('batsman')['batsman_runs'].sum()

# Sort the batsman_runs Series in descending order and take the top 10 rows
top_batsmen = batsman_runs.sort_values(ascending=False)[:10]

# Create a bar chart to show the top 10 batsmen by total runs scored
plt.figure(figsize=(12, 6))
sns.barplot(x=top_batsmen.index, y=top_batsmen.values, palette='GnBu_r')
plt.title('Top 10 Batsmen by Total Runs Scored in IPL', fontsize=20)
plt.xlabel('Batsman', fontsize=15)
plt.ylabel('Total Runs Scored', fontsize=15)
plt.xticks(fontsize=12, rotation=45, ha='right')
plt.yticks(fontsize=12)
plt.show()

#### Chart - 12

In [ ]:
# Chart - 12 visualization code

In [ ]:
wickets_df = deliveries_df[deliveries_df.dismissal_kind.notnull()]
wickets_df = wickets_df.groupby('bowler')['dismissal_kind'].count().reset_index()

# Sort the data by wickets taken and get the top 10 bowlers
top_bowlers = wickets_df.sort_values(by='dismissal_kind', ascending=False).head(10)

# Create a bar plot to show the top 10 bowlers with most number of wickets
plt.figure(figsize=(12,6))
sns.barplot(x='bowler', y='dismissal_kind', data=top_bowlers, palette='winter')
plt.title('Top 10 Bowlers with Most Number of Wickets', fontsize=16, fontweight='bold')
plt.xlabel('Bowler', fontsize=12, fontweight='bold')
plt.ylabel('Number of Wickets', fontsize=12, fontweight='bold')
plt.xticks(fontsize=10)
plt.yticks(fontsize=10)
plt.show()

# **Conclusion**

* Total number of teams participating (Team names and its size) : participates 15 
Teams & Team names are Rising Pune Supergiants', 'Kolkata Knight Riders', 'Kings XI Punjab', 'Chennai Super Kings', 'Rajasthan Royals', 'Sunrisers Hyderabad', 'Rising Pune Supergiant', 'Gujarat Lions', 'Royal Challengers Bangalore', 'Delhi Daredevils', 'Deccan Chargers', 'Pune Warriors', 'Kochi Tuskers Kerala', 'Delhi Capitals', 'Mumbai Indians'
* The highest number of match played in IPL season was 2013,2014,2015.
* Numbers of matches won by team : 'Mumbai Indians' And 'Chennai Super Kings'
*  Toss and Match Win : 52%

* Toss Win but Match Lose : 48%
*  Mumbai Indians 23.7 % And  'Chennai Super Kings' 21.7% these both teams have maximum  won.
*  virat kohli and sk raina has maximum scored in ipl
* SL Malinga and DJ Bravo has get most of wickets in ipl